<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>bjp</title>
<!-- default dancer2 theme -->
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.min.css" />-
<link rel="stylesheet" href="<% request.uri_base %>/css/bjp.css" />

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<!--<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
/* ]]> */</script>-->
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/bjp.js"></script>

</head>
<body style="background-color: #DDD">
<% content %>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</div>
</body>
</html>
